@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
.containerQuizHome {
  background-color: var(--first-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  height: 100%;
  min-height: 100vh;
}

.titleQuizHome {
  font-family: var(--third-font);
  font-size: 4rem;
  color: white;
  background-color: var(--fourth-color);
  width: 70vw;
  max-width: 500px;
  height: 6rem;
  border-radius: 30px;
  margin-top: 50px;
  margin-bottom: 0.2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleQuizHomeContainer {
  position: relative;
}

.rubikIcon {
  z-index: 1;
  position: absolute;
  min-width: initial;
  max-width: initial;
  width: 5rem;
  height: 5rem;
  max-height: 6rem;
  top: 40%;
  right: -7%;
}

.btnContainerQuizHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playBtnContainer button {
  margin-top: 5vw;
  width: 45vw;
  min-height: 80px;
  height: 15vw;
  max-height: 100px;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
  margin-bottom: 3rem;
}



.exitBtnContainer button {
  width: 35vw;
  height: 20vw;
  min-width: 150px;
  max-width: 45vw;
  max-height: 100px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: red;
  border: none;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

@media screen and (min-width: 850px) {
  .btnContainerQuizHome {
    margin-top: 20vh;
    display: initial;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

 

  .exitBtnContainer button {
    margin: initial;
    margin-left: 4vw;
    font-size: 3.5rem;
    width: 25vw;
    min-height: initial;
    max-height: initial;
    height: initial;
    min-height: 80px;
    height: 10vh;
  }

  .playBtnContainer button {
    margin: initial;
    margin-right: 4vw;
    width: 25vw;
    font-size: 3.5rem;
    min-height: initial;
    max-height: initial;
    height: initial;
    min-height: 80px;
    height: 10vh;
  }
}
