.playContainer {
  height: initial;
  background-color: #6097eeff;
  font-size: 1em;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
}
.playContainer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#En_decheterie {
  background-image: url("../../assets/bennes-decheterie.png");
  background-size: 90%;
  background-position: 50%;
  background-repeat: no-repeat;
}
.answerBtnContainer {
  display: flex;
}

#bac-jaune {
  background-image: url("../../assets/yellow-container.png");
  background-position: 50%;
  background-size: 50%;
  background-repeat: no-repeat;
}

#sac_d-ordures_menageres {
  background-image: url("../../assets/rubbish-bag.png");
  background-size: 80%;
  background-position: 50%;
  background-repeat: no-repeat;
}

#autres {
  background-image: url("../../assets/other-waste-icon.png");
  background-size: 80%;
  background-position: 50%;
  background-repeat: no-repeat;
}

.answerBtnContainer {
  display: flex;
}

#play {
  color: white;
  margin-top: 1rem;
  font-family: var(--third-font);
  font-size: 4em;
  min-width: 360px;
  margin: 0.5rem;
}

#question {
  margin-top: 5vw;
  color: white;
  background-color: var(--fourth-color);
  border-radius: 50px;
  width: 80vw;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: var(--third-font);
  font-weight: bold;
  font-size: 1.6rem;
  padding: 0.5rem;
  min-width: 80vw;
  min-height: 80px;
  margin: 0 auto;
}

.waste {
  margin-top: 5vw;
  width: 40vw;
  height: 40vw;
  border-radius: 50px;
  margin-bottom: 5vw;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.nameWaste {
  background-color: var(--secondary-color);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 60vw;
  margin: 0 auto;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.7rem;
  padding: 0.5em;
}

.openModalBtn {
  border: none;
  border-radius: 30px;
  width: 30vw;
  height: 30vw;
  background-color: rgba(214, 225, 236, 0.863);
  margin: 2vw;
  box-shadow: 10px 7px 7px rgba(0, 0, 0, 0.25);
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 15vw;
  height: 15vw;
  max-width: 80px;
  max-height: 80px;
  background-color: var(--secondary-color);
  font-weight: bold;
  font-size: 2rem;
  border-radius: 50px;
  z-index: 1;
  position: absolute;
  top: -20px;
  left: -20px;
} 

.Container {

  position: relative;
  width: 80vw;
}

@media screen and (min-width: 1024px) {
  #play {
    font-size: 6em;
  }

  #question {
    min-width: initial;
    margin-top: 1vw;
    width: 60vw;
    font-weight: bold;
    font-size: 3rem;
  }

  .nameWaste {
    width: 45vw;
    margin: 0 auto;
    color: white;
    font-size: 1.7rem;
    padding: 0.5em;
  }

  .waste {
    margin: initial;
    margin: 3vh;
    width: 15vw;
    height: 15vw;
  }

  .pictureButton {
    display: initial;
    display: flex;
    flex-direction: row;
  }

  .openModalBtn {
    border-radius: 50px;
    width: 10vw;
    height: 10vw;
    margin: 2vw;
  }

  .Container {
    position: relative;
    width: 60vw;
    margin: initial;
  }

  .counter {
    max-width: initial;
    max-height: initial;
    width: 100px;
    height: 100px;
    font-size: 2.5rem;
    top: -30px;
    left: -20px;
  }
}
