.Array, .firstName{
  max-width: 100%;
}

.Array, .firstName{
  width: 100%;
margin-left: 13rem;
}

@media screen and (min-width:500px) {
  .Array, .firstName{
    margin-left : 20rem;
  }
}

.Array:nth-child(odd) {
  border-top: solid;
  border-bottom: solid;

  background-color: rgba(249, 250, 252);
}

.Array p {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.firstName {
  background-color: rgba(127, 96, 0, 0.3);
  display: flex;
  justify-content: space-around;
}
.name {
  background-color: blue;
}
.Research {
  display: flex;
}
