.Array:nth-child(odd) {
  border-top: solid;
  border-bottom: solid;

  background-color: rgba(249, 250, 252);
}

.Array p {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
} 
 .firstName {
  background-color: rgba(127, 96, 0, 0.3);
  display: flex;
  justify-content: space-around;
}
.name {
  background-color: blue;
}
.Research {
  display: flex;
}
