.Array:nth-child(odd) {
  border-top: solid;
  border-bottom: solid;

  background-color: rgba(249, 250, 252);
}
.picturesWaste {
  width: 60px;
  height: 60px;
}
#backjaune{
  width: 30px;
  height: 60px;
}
.description {
  display: flex;
  align-items: center;
}
.emptyObject {
  width: 60px;
  height: 60px;
}
.Array {
  display: flex;
  justify-content: space-around;
  width: 82vw;
}
.Array:first-child {
  background-color: aqua;
}
.Array p {
  width: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.firstName {
  background-color: rgba(127, 96, 0, 0.3);
  display: flex;
  justify-content: space-around;
}
.name {
  background-color: blue;
}
.Research {
  display: flex;
}
