.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
}

.list-filter{
    position: absolute;
    list-style: none;
}

.list-filter li{
padding: 1rem;
}