.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
}

.filter-menu{
  all:unset;
}

.filter-menu:hover{
  cursor: pointer;
}

.list-filter {
  position: absolute;
  list-style: none;
}

.list-filter li {
  padding: 1rem;
}
