.nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: var(--third-color);
  padding: 2vw;
}

.nav img {
  min-width: 10vw;
  max-width: 10vw;
  min-height: 10vw;
}

.first-container-nav img {
  margin-right: 5vw;
}

.second-container-nav img {
  margin-right: 3vw;
}
