
 .menuResearch {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vw;
  }

.vertical-menu {
  display: flex;
  flex-direction: column;
  background-color: #77df4aff;
  border-radius: 30px;
  }

  .vertical-menu p {
    display: flex;
    align-items: center;
  }

 .vertical-menu img {
    width: 8vw;
    max-width: 70px;
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

.logo img {
  max-width: 150px;
  width: 22vw;
}
