.wasteTable {
  border-top: 1px solid;
  width: 25vw;
  height: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

tr,
td {
  max-height: 2vh;
}
a {
  text-decoration: none;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
tr:nth-child(even) {
  background-color: rgba(249, 250, 252, 1);
}
.wasteTable img {
  width: 10vw;
  height: 10vw;
}

thead {
  background-color: rgba(127, 96, 0, 0.5);
  height: 10vw;
  font-size: 1rem;
}
#yellow-container {
  width: 5vh;
  height: 10vh;
}
.Research {
  display: flex;
}
