.wasteTable {
  border-top: 1px solid;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
tr:nth-child(even) {
  background-color: rgba(249, 250, 252, 1);
}
.wasteTable img {
  width: 10vh;
  height: 10vh;
}
.table {
  display: flex;
  margin-left: 20rem;
}
thead {
  background-color: rgba(127, 96, 0, 0.5);
}
#yellow-container {
  width: 5vh;
  height: 10vh;
}
