section {
  background-color: #6097eeff;
  font-size: 1em;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.openModalBtn {
  border: none;
  border-radius: 50px;
  box-shadow: 10px;
  width: 40vw;
  height: 40vw;
  background-color: rgba(214, 225, 236, 0.863);
  margin: 2vw;
  box-shadow: 10px 7px 7px rgba(0, 0, 0, 0.25);
}

button img {
  width: 20vw;
  height: 25vw;
}

#play {
  color: white;
  margin-bottom: 3vh;
  font-family: "Sacramento", cursive;
  font-size: 4em;
}

#question {
  color: white;
  background-color: var(--fourth-color);
  border-radius: 30px;
  width: 80vw;
  height: 12vw;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Sacramento", cursive;
  font-size: 3em;
  padding: 1em;
}

.bidon {
  margin-top: 5vw;
  width: 60vw;
  height: 60vw;
  border-radius: 30px;
  margin-bottom: 5vw;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.nameWaste {
  background-color: var(--secondary-color);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 50vw;
  margin: 0 auto;
  color: white;
  font-family: var(--secondary-font);
  font-size: 2em;
  padding: 0.5em;
}
