.logoImage {
  width: 70%;
  max-width: 600px;
  min-width: 50px;
}

.logoTitre {
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-block-end: auto;
}

.triTitre {
  position: relative;
  font-size: 10vw;
  font-family: var(--third-font);
  justify-content: center;
  color: #77df4a;
  margin-left: auto;
  margin-right: auto;
}

.flecheImg {
  image-rendering: 10%;
  margin-left: 5%;
  width: 20%;
  max-width: 20px;
  min-width: 90px;
  display: flex;
  text-align: center;
  justify-items: center;
}

.imgButton {
  margin-left: 5%;
  width: 40%;
  max-width: 300px;
  min-width: 100px;
  text-align: center;
  justify-items: center;
  justify-content: space-between;
}

.presentation {
  margin: 5% 5% 10% 5%;
  display: block;
  text-align: justify;
  font-size: 5vw;
  font-weight: lighter;
  overflow-y: auto;
  overflow-x: hidden;
  top: 20px;
  right: 20px;
  bottom: 20px;
}

.presentation:first-letter {
  font-family: var(--third-font);
  font-size: 13vw;
  color: #6097eeff;
}

.buttonFleche {
  background: scroll;
  border-radius: 50%;
  text-align: center;
}

.buttonImg {
  border-radius: 50%;
  border: 0px;
  background-color: white;
  box-shadow: 10px;
  box-shadow: 10px 7px 7px rgba(0, 0, 0, 0.25);
}

.flecheButton {
  border-radius: 50%;
  border: 0px;
}

.triopoubelles {
  text-align: center;
  margin: 5% 0px 0px 10%;
  color: #6097eeff;
  font-family: Georgia;
  font-size: 4vw;
  width: 80%;
  height: 800%;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--third-font);
}
.logoTriPoubelles {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.divQuizz {
  display: flex;
  margin-top: 10%;
  margin-bottom: -20vw;
  text-align: center;
  height: 50vw;
}

.buttonQuizz {
  width: 100%;
  height: 100%;
  min-width: 70%;
  min-height: 70%;
  border-radius: 8vw;
  background-color: #ff9d00ff;
  border: none;
  color: white;
  font-size: 8vw;
  font-size-adjust: 0.5;
  box-shadow: 10px 7px 7px rgba(0, 0, 0, 0.25);
  box-shadow: 10px;
  padding-bottom: 20%;
  font-family: var(--third-font);
  margin-left: 5px;
}
.buttonQuizz:hover {
  background-color: #fae56f; /* Green */
  color: white;
}

.buttonSearch {
  width: 100%;
  height: 100%;
  border-radius: 8vw;
  background-color: #6097eeff;
  border: none;
  color: white;
  font-size: 8vw;
  font-size-adjust: 0.5;
  box-shadow: 10px 7px 7px rgba(0, 0, 0, 0.25);
  box-shadow: 10px;
  padding-bottom: 20%;
  font-family: var(--third-font);
  padding-left: 3vw;
  padding-right: 3vw;
  margin-right: 10px;
  text-align: center;
}
.buttonSearch:hover {
  background-color: #cbcff7; /* Green */
  color: white;
}

.linkButton {
  width: 60%;
}

.pQ {
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 5vw;
  overflow-y: auto;
  overflow-x: hidden;
  top: 20px;
  right: 20px;
  bottom: 20px;
  height: 25vw;
}

.pS {
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 5vw;
  overflow-y: auto;
  overflow-x: hidden;
  top: 20px;
  right: 20px;
  bottom: 20px;
  height: 25vw;
}

.divButtonQuizz {
  width: 400%;
  max-width: 30%;
  height: 70%;
  max-height: 50%;
  position: relative;
  margin-right: 5px;
  padding-left: 5px;
}

.divButtonSearch {
  width: 400%;
  max-width: 30%;
  height: 120%;
  max-height: 50%;
  position: relative;
  margin-right: 5px;
  padding-left: 5px;
}

.imgQuizzButton {
  position: relative;
  top: -45%;
  left: 28%;
  width: 55%;
}

.divSearch {
  display: flex;
  margin: 50px 0% 5px 0%;
  text-align: center;
  height: 50vw;
  flex-direction: row-reverse;
}

.imgSearchButton {
  position: relative;
  top: -50%;
  left: -20%;
  width: 55%;
}

@media screen and (min-width: 900px) {
  .presentation {
    margin: 20% 5% 90px 5%;
    display: block;
    text-align: justify;
    font-size: 30px;
    font-weight: lighter;
  }
  .pQ {
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 200%;
  }
  .pS {
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 200%;
  }

  .divSearch {
    display: flex;
    margin: 0% 0% 5vw 0%;
    text-align: center;
    height: 30vw;
    flex-direction: row-reverse;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .divQuizz {
    display: flex;
    text-align: center;
    height: 25vw;
    margin: 10vw 0% 10vw 0%;
  }

  .buttonQuizz {
    width: 85%;
    height: 150%;
    border-radius: 8vw;
    background-color: #ff9d00ff;
    border: none;
    color: white;
    font-size: 10vw;
    font-size-adjust: 0.5;
    box-shadow: 10px 7px 7px rgba(0, 0, 0, 0.25);
    box-shadow: 10px;
    padding-bottom: 20%;
    font-family: var(--third-font);
    margin-left: 5px;
  }

  .imgQuizzButton {
    position: relative;
    top: -60%;
    left: 30%;
    width: 30%;
  }

  .imgSearchButton {
    position: relative;
    top: -75%;
    left: -20%;
    width: 55%;
  }

  .buttonSearch {
    width: 85%;
    height: 150%;
    border-radius: 8vw;
    background-color: #6097eeff;
    border: none;
    color: white;
    font-size: 7vw;
    font-size-adjust: 0.5;
    box-shadow: 10px 7px 7px rgba(0, 0, 0, 0.25);
    box-shadow: 10px;
    padding-bottom: 20%;
    font-family: var(--third-font);
    padding-left: 3vw;
    padding-right: 3vw;
    margin-right: 10px;
  }
}
